/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* colors */
  --clr-dark: #1A1B21;
  --clr-dark--secondary: #23252C;
  --clr-white: #FFF;
  --clr-grey: #DCDCDC;
  --clr-grey--dark: #918E9B;
  --clr-grey--light: #F5F5F5;
  --clr-blue: #5093E2;
  --clr-orange: #F3BF99;

  /* font-sizes */
  --fs-600: 2.5rem;
  --fs-500: 1.6rem;
  --fs-400: 1.4rem;
  --fs-300: 1.28rem;
  --fs-200: 1.024rem;

  /* font-families */
  --ff-sans-normal: "Inter", sans-serif;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */
body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  background-color: var(--clr-dark);
  line-height: 1.5;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
  overflow-x: hidden;
}

/* easy font size */

html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5%;
}

/* make images easier to work with */
img,
picutre {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* colors */

.bg-dark {
  background-color: var(--clr-dark);
}

.bg-dark--secondary {
  background-color: var(--clr-dark--secondary);
}

.bg-white {
  background-color: var(--clr-white);
}

.text-grey {
  color: var(--clr-grey);
}

.text-grey--light {
  color: var(--clr-grey--light);
}

.text-white {
  color: var(--clr-white);
}

.text-orange {
  color: var(--clr-orange);
}

/* typography */

.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  background: var(--clr-dark--secondary);
  width: 550px;
  height: 868px;
  margin-inline: auto;
}